.area{
    width: 400px;
    height: 400px;
    border: 1px solid;
    margin: auto;
    position: relative;
    overflow: hidden;
    margin-top: 130px;
}
.runner{
    width: 40px;
    height: 40px;
    background: #51f730;
    position: absolute;
    filter: drop-shadow(0 4px 5px rgb(217, 216, 216));
    /* transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1); */
}
.non{
    width: 40px;
    height: 40px;
    background: #b89a13;
    position: absolute;
    filter: drop-shadow(0 4px 5px rgb(217, 216, 216));
    /* transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1); */
}

.con{
    width: 300px;
    margin: auto;
    /* background-color: red; */
    position: relative;
    height: 90px;
}
#right{
    /* margin-left: 30px; */

}
button{
    width: 70px;
    height: 40px;
    position: absolute;
}
#top{
    top: 0;
    left: 40%;
}
#bottom{
    bottom: 0;
    left: 40%;
}
#right{
   
    top: 30%;
    right: 30px;
}
#left{
    top: 30%;
    left: 40px;
}
